<%= form_for(pessoa) do |f| %>
  <% if pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
      <% pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom_pessoa %>
    <%= f.text_field :nom_pessoa %>
  </div>

  <div class="field">
    <%= f.label :dta_nascimento %>
    <%= f.date_select :dta_nascimento %>
  </div>

  <div class="field">
    <%= f.label :num_ano_inicial %>
    <%= f.text_field :num_ano_inicial %>
  </div>

  <div class="field">
    <%= f.label :des_endereco %>
    <%= f.text_field :des_endereco %>
  </div>

  <div class="field">
    <%= f.label :num_telefone %>
    <%= f.text_field :num_telefone %>
  </div>

  <div class="field">
    <%= f.label :num_celular %>
    <%= f.text_field :num_celular %>
  </div>

  <div class="field">
    <%= f.label :des_email %>
    <%= f.text_field :des_email %>
  </div>

  <div class="field">
    <%= f.label :observacao %>
    <%= f.text_field :observacao %>
  </div>

  <div class="field">
    <%= f.label :tipo_pessoa %>
    <%= f.text_field :tipo_pessoa %>
    <%= f.collection_select(:tipo_pessoa, TipoPessoa.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
