<p id="notice"><%= notice %></p>

<h1>Pessoas</h1>

<table>
  <thead>
    <tr>
      <th>Nom pessoa</th>
      <th>Dta nascimento</th>
      <th>Num ano inicial</th>
      <th>Des endereco</th>
      <th>Num telefone</th>
      <th>Num celular</th>
      <th>Des email</th>
      <th>Observacao</th>
      <th>Tipo pessoa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.nom_pessoa %></td>
        <td><%= pessoa.dta_nascimento %></td>
        <td><%= pessoa.num_ano_inicial %></td>
        <td><%= pessoa.des_endereco %></td>
        <td><%= pessoa.num_telefone %></td>
        <td><%= pessoa.num_celular %></td>
        <td><%= pessoa.des_email %></td>
        <td><%= pessoa.observacao %></td>
        <td><%= pessoa.tipo_pessoa %></td>
        <td><%= link_to 'Show', pessoa %></td>
        <td><%= link_to 'Edit', edit_pessoa_path(pessoa) %></td>
        <td><%= link_to 'Destroy', pessoa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pessoa', new_pessoa_path %>
