<%= form_for(financeiro) do |f| %>
  <% if financeiro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financeiro.errors.count, "error") %> prohibited this financeiro from being saved:</h2>

      <ul>
      <% financeiro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dta_lancamento %>
    <%= f.date_select :dta_lancamento %>
  </div>

  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_field :descricao %>
  </div>

  <div class="field">
    <%= f.label :valor %>
    <%= f.text_field :valor %>
  </div>

  <div class="field">
    <%= f.label :tipo_financeiro_id %>
    <%= f.number_field :tipo_financeiro_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
