<p id="notice"><%= notice %></p>

<p>
  <strong>Dta lancamento:</strong>
  <%= @financeiro.dta_lancamento %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @financeiro.descricao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @financeiro.valor %>
</p>

<p>
  <strong>Tipo financeiro:</strong>
  <%= @financeiro.tipo_financeiro_id %>
</p>

<%= link_to 'Edit', edit_financeiro_path(@financeiro) %> |
<%= link_to 'Back', financeiros_path %>
