<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @evento.titulo %>
</p>

<p>
  <strong>Dta evento:</strong>
  <%= @evento.dta_evento %>
</p>

<p>
  <strong>Informacoes:</strong>
  <%= @evento.informacoes %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @evento.imagem %>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
