<p id="notice"><%= notice %></p>

<h1>Equipes</h1>

<table>
  <thead>
    <tr>
      <th>Ano</th>
      <th>Nome</th>
      <th>Observacoes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipes.each do |equipe| %>
      <tr>
        <td><%= equipe.ano %></td>
        <td><%= equipe.nome %></td>
        <td><%= equipe.observacoes %></td>
        <td><%= link_to 'Mostrar', equipe %></td>
        <td><%= link_to 'Editar', edit_equipe_path(equipe) %></td>
        <td><%= link_to 'Excluir', equipe, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Equipe', new_equipe_path %>
